.posts .add_post {
  margin: 4rem;
}
.posts .recent__posts {
  margin: 4rem 0rem;
}
.posts .recent__posts .button-36 {
  margin-left: 4rem;
  margin-top: 3rem;
}

.posts .single__post__box {
  width: 100%;
  padding: 0rem 0rem 2rem 4rem;
}
.posts .reviews ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.posts .reviews ul li a i {
  font-size: 20px;
  color: #31353d;
  transition: 0.3s;
  &:hover {
    color: #13c7ff;
  }
}

.posts .line {
  background-color: red;
  width: 100%;
  height: 1px;
  margin: 3rem 0rem;
}
.posts .user {
  display: flex;
  justify-content: start;
}
.posts .user__image img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
}
.posts .user__info h3 {
  margin-bottom: 5px;
  font-size: 16px;
}

.posts {
  position: relative;
}
.post {
  margin: 2rem 0rem;
}
.post p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 1rem;
}
.top__info {
  display: flex;
  justify-content: space-between;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-toggle {
  background-color: transparent;
  border: none !important;
}
.dropdown-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 7px 10px;
}
.dropdown-item p {
  margin: 0;
}
.dropdown-item i {
  margin-right: 8px;
}

.dropdown-item :hover {
  color: #13c7ff;
}

.post__box{
  position: absolute;
  top: 20%;
  left: 90%;
  width: 90%;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); /
}
.post__box textarea{
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 14px;
  margin-bottom: 1rem;
}
.submit__button{
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1rem 0rem;
}
.submit__button .button-36{
padding: 10px 20px;
}

.post__image{
  width: 100%;
  height: 50vh;
  background-size: cover;
}