.navbar-brand {
  color: #fff !important;
}

.profile {
  width: 100%;
  position: relative;
}
.profile-photo {
  width: 48px;
  height: auto;
}
.flex-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  justify-content: start;
  align-items: center;
}
.flex-menu li {
  margin-right: 1rem;
}





.profile .container {
  padding-top: 0rem;
  padding-left: 17rem;
}
.coverImage {
  margin-bottom: 2rem;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  border-radius: 0px 0px 5px 5px;
}




.edit__box {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 40%;
  height: auto;
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); /
}

.edit__box input {
  width: 100%;
  height: 40px;
  margin-bottom: 1rem;
  border: 1px solid #000;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 14px;
}
.submit__button{
  display: flex;
  justify-content: end;
  align-items: center;
}
.submit__button .button-36{
padding: 10px 14px;
}

.edit__box label{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.edit__box input[type='file']{
  border: none;
padding: 0;

}
.edit__box textarea{
 width: 100%;
 outline: none;
 font-size: 15px;
 border-radius: 8px;
 padding: 10px 14px;
}
.img-circle{
  width: 130px;
  height: 130px;
  background-size: cover;
  border-radius: 50%;
}